@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: #f5f5f5;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1100px;
    margin: 0 auto;
}
/* Навигация */
.header-menu {
    background: linear-gradient(to bottom right, #af9029, #ffffff);
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
}

.header-navigation{
    display: flex;
    justify-content: space-between;
}

.header-phone {
    display: flex;
    align-items: center;
    padding: 30px 50px;
    font-size: 20px;
}

.header-phone-number:hover {
    color: #ffd700;
}

.header-phone-number{
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
}

.header-phone-icon {
    width: 35px;
    margin-right: 15px;
}

.navigation {
    padding: 40px 30px;
}

.navigation a {
    color: #000000;
    text-decoration: none;
    margin-left: 30px;
    transition: color 0.3s ease;
    text-transform: uppercase;
    font-size: 20px;
}

nav a:hover {
    color: #ffd700;
}

/* Навигация для адаптива*/

.header-logo-adaptiv-open img{
    display: none;
}

.header-logo-adaptiv-close img{
    display: none;
    width: 50px;
    padding-top: 30px;
    padding-left: 30px;
    color: #fff;
    cursor: pointer;
}

.navigation-adaptiv {
    display: none;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.navigation-adaptiv a {
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    transition: color 0.3s ease;
    text-transform: uppercase;
    padding-top: 40px;
    font-size: 20px;
}


/* Информация агента */
.agent {
    padding: 50px 50px;
}

.agent-content {
    display: flex;
}

.agent-img {
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.agent-info{
    display: block;
}

.agent-info h1{
    font-size: 50px;
    color: #000000;
}

.agent-info h2{
    font-size: 30px;
    margin-bottom: 120px;
    color: #000000;
}

.agent-info p{
    font-size: 16px;
    line-height: 1.5;
    padding-right: 30px;
    color: #000000;
}

.agent-info button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    width: 300px;
    text-transform: uppercase;
    color: #ffffff;
    background: linear-gradient(to bottom right, #184e28, #72d18d);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.5);
}

.agent-info button:hover {
    color: #ffffff;
    border-color: #ff3c00;
}

/* Информация по услугам */

.services{
    background: linear-gradient(to bottom right , #ebdcad, #af9029);
    color: #131212;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 40px;
}

.services-title {
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.service-item {
    width: 800px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.service-item-title{
    font-size: 18px;
}
.service-item img {
    width: 50px;
    height: 50px;
}
.service-info {
    max-height: 0;
    overflow: hidden;
    margin-top: 10px;
    padding: 0 10px;
    border-radius: 5px;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
}
.service-item.active .service-info {
    max-height: 1000px;
    padding: 10px;
}
.service-info-title{
    text-align: left;
    margin: 20px 0px;
}
.service-info-text {
    padding-left: 20px;
    text-align: left;
}

.service-info-text li {
    margin: 5px 0;
    list-style-type: disc;
    font-weight: 300;
}

/* Информация по объектам */

#properties{
    background: linear-gradient(to bottom right , #ebdcad, #af9029);
    color: #131212;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin-top: 20px;
    margin-bottom: 20px;
}

#properties h1 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
    font-size: 30px;
}

.property-slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.property-slider {
    padding-bottom: 30px;
}

.properties-info{
    line-height: 1.5;
    font-size: 17px;
    font-weight: 300;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.properties-info h2{
    text-transform: uppercase;
    font-size: 20px;
}

.property-slider-number span{
    font-size: 20px;
    padding: 5px;
}

.property-slider-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.property-slider-logo-left{
    width: 60px;
    padding: 40px;
    cursor: pointer;
}

.property-slider-logo-left,
.property-slider-logo-right {
    width: 60px;
    padding: 40px;
    cursor: pointer;
}

.property-slider-logo-left:hover,
.property-slider-logo-right:hover {
    filter: brightness(0) invert(1);
}

.properties-img {
    width: 700px;
    border: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 20px;
    margin-top: 20px;
}

/* Контакты и реквизиты */

.footer-content {
    display: flex;
    justify-content: center;
    background-color: #333;
    color: #fff;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


#contacts h1{
    text-align: center;
    font-size: 20px;
}

.contacts-link {
    display: flex;
    justify-content: center;
    list-style: none;
}

.contacts-link li {
    margin-right: 20px;
    padding-top: 30px;

}

.contacts-link img {
    height: 40px;
    filter: brightness(0) invert(1);
    transition: filter 0.3s ease;
}

.contacts-link img:hover {
    filter: brightness(0) invert(1) sepia(1) saturate(10000%) hue-rotate(60deg);
}

/* Адаптив под мобильную версию */
@media (max-width: 900px) {

    body {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Навигация адаптив под мобильную версию */

    .navigation {
        display: none;
    }

    .navigation-adaptiv.active {
        display: flex;
    }

    .navigation-adaptiv.close {
        display: none;
    }

    .header-logo-adaptiv-close img{
        display: flex;
        filter: brightness(0) invert(1);
    }

    .header-logo-adaptiv-open img{
        display: flex;
        justify-content: space-between;
        width: 40px;
        padding-top: 20px;
        padding-right: 30px;
        cursor: pointer;
    }

    .header-phone {
        padding-left: 30px;
        font-size: 20px;
    }

     /* Информация агента адаптив под мобильную версию */

    .agent {
        padding: 20px;
    }
    
    .agent-content {
        display: flex;
        flex-direction: column;
    }

    .agent-info h1 {
        padding-bottom: 10px;
        font-size: 40px;
        text-align: center;
    }

    .agent-info h2{
        font-size: 22px;
        margin-bottom: 10px;
        text-align: center;
    }

    .agent-img {
        width: 100%;
        height: 100%;
    }

    .agent-info button {
        width: 100%;
    }

    .agent-info p {
        margin-bottom: 10px;
    }

    /* Информация по услугам адаптив под мобильную версию */

    #services h1 {
        text-align: center;
        text-transform: uppercase;
        padding-top: 30px;
        padding-bottom: 20px;
        font-size: 25px;
    }

    .services-list {
        padding-bottom: 40px;
    }

    .services-list {
        justify-content: flex-start;
    }

    .service-item {
        width: 100%;
        max-width: 100%;
    }

     /* Информация по объекту адаптив под мобильную версию */

     #properties h1 {
        font-size: 25px;
    }

    .properties-info{
        padding-left: 20px;
        padding-right: 20px;
    }

    .property-slider {
        padding-bottom: 30px;
    }

    .properties-img {
        width: 100%;
        height: 100%;
    }

    /* Контакты и реквизиты адаптив под мобильную версию */

    .footer-content {
        padding: 20px 30px;
    }
    
}

/* Адаптив под мобильную версию */
@media (max-width: 500px) {

    body {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    /* Контакты и реквизиты адаптив под мобильную версию */
    .footer-content {
        display: block;
    }
    #contacts{
        padding-top: 20px;
    }

}
